@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: 'Sora', sans-serif;

  --color-brand:       #3B7BF8;
  --color-brand-dark:  #2563EB;
  --color-brand-light: #EEF4FF;

  --color-gold:        #F4A823;
  --color-gold-light:  #FFF8ED;

  --color-ink-900: #0D1117;
  --color-ink-800: #161C26;
  --color-ink-700: #1E2736;
  --color-ink-600: #2A3548;
  --color-ink-500: #3D4F68;
  --color-ink-400: #6B7FA3;
  --color-ink-300: #9BAAC8;
  --color-ink-200: #C8D3E8;
  --color-ink-100: #EDF0F7;
}

body 
{
  font-family: 'Sora', sans-serif;
}

.dot-grid {
  background-image: radial-gradient(circle, #3B7BF820 1px, transparent 1px);
  background-size: 28px 28px;
}